/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/************/
/* BACK */
/************/
/* Category ajax message */
table.sorting tr:not(.home) {
    cursor:pointer;
}

.ui-state-highlight {
    border:2px dashed #CCC;
    list-style-type: none;
    min-height: 8rem;
}

.ajax-text {
    display:none;
}

.ajax-rename-category {
    position:absolute;
}

/*
    upload image btn
*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    padding:1rem;
}

/* Admin area */
.admin-body-section {
    padding: 2.5rem;
}

/* Widget admin area */
.connectWidgets {
    border: 1px solid black;
    min-height: 4rem;
}
.connectWidgets > li {
    cursor: pointer;
}



/************/
/* FRONT */
/************/

/* Blog main index page */
.category-content {
    padding: 1rem;
}

/* Blog post page */
.nested-comment-container {
    margin-top: -2rem;
}

/*Blog post page Quick reply form*/
.quick-reply {
    padding: 0rem 2rem;
}